* {
          
          box-sizing: border-box;
          
          
      }
      
.contact{
          background: #000;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }
      .contact .contactFrom{
          position: relative;
          width: 700px;
          margin-top: 20px;
      }
      
      .contact .contactFrom .row{
          width: 100%;
          display: flex;
      }
      .contact .contactFrom .row .col50{
          width: 50%;
          margin: 10px;
      }
      .contact .contactFrom .row .col100{
          width: 100%;
          margin: 10px;
          text-align: center;
      }
      .contact .contactFrom .row input,
      .contact .contactFrom .row textarea{
          width: 100%;
          padding: 10px;
          border: none;
          outline: none;
          background: #111;
          color: #fff;
          font-size: 16px;
          resize: none;
      }
      .contact .contactFrom .row textarea{
          height: 100px;
      }
      .contact .contactFrom .row input[type="submit"]{
          background: #00bcd4;
          color: #fff;
          padding: 10px 30px;
          display: inline-block;
          font-weight: 500;
          letter-spacing: 2px;
          cursor: pointer;
          max-width: 150px;
      }
      
      .title.white h2,
      .title.white p
      {
          color:#fff;
      }
      .title.white h2::before{
          background: #fff;
      }
      .title{
          width: 100%;
          text-align: center;
      }
      .title h2{position: relative; color: #00bcd4;
      font-size: 1.8em;
      font-weight: 700;
      letter-spacing: 1px;
      }
      .title p{
          max-width: 700px;
          display: inline-block;
      
      }
      .title h2::before{
          content: '';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -10px;
          width: 60px;
          height: 4px;
          background:#000 ;
      }
      .contact .contactFrom .row{
          width: 100%;
          display: flex;
      }
      .contact .contactFrom .row .col50{
          width: 50%;
          margin: 10px;
      }
      .contact .contactFrom .row .col100{
          width: 100%;
          margin: 10px;
          text-align: center;
      }
      .contact .contactFrom .row input,
      .contact .contactFrom .row textarea{
          width: 100%;
          padding: 10px;
          border: none;
          outline: none;
          background: #111;
          color: #fff;
          font-size: 16px;
          resize: none;
      }
      .contact .contactFrom .row textarea{
          height: 100px;
      }
      .contact .contactFrom .row input[type="submit"]{
          background: #00bcd4;
          color: #fff;
          padding: 10px 30px;
          display: inline-block;
          font-weight: 500;
          letter-spacing: 2px;
          cursor: pointer;
          max-width: 150px;
      }
     